:root{ 
  --color-yellow:#fce138;
  --color-blue:#39a6b2;
  --color-dark-blue:#024e76;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

body{
  color: var(--color-blue);
  font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to header start */
header{
  background-color:var(--color-blue);
  display: flex;
  flex-wrap: wrap; /* to wrap the childElements on small screens*/
  justify-content: space-between; 
  align-items: center;
  padding: 20px 35px;
  position: sticky; /* this will position the header on the top even we will scroll down until we hit another parent elemetns*/
  top: 0px;
  position: -webkit-sticky;
  background-image: url('../images/hero-bg.jpg'); /* added this image again to make the header and the hero section with one image */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* added this to  which places the image relative to the viewport instead of the element.*/
  background-position: 80%; /* this to make sure that  which places the image relative to the viewport instead of the element. */
  z-index: 9999;
}

header a{
  text-decoration: none;
  color: var(--color-yellow);
}

header h1{
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  cursor: pointer;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav{
margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw; /* VW : if the browser grows or shrinks, that size will change relative to the new overall width */
}

header nav ul li a:hover{
  background: var(--color-yellow);
  color: var(--color-dark-blue);
  border-radius: 15px;
  text-shadow: none;
}
/* header ends */


/* section hero starts */
.hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-image: url('../images/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
}

.hero-cta {
  width: 35%;
  text-align: right;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
}

.hero-cta h2 {
  font-style: italic;
  font-size: 55px;
  color: var(--color-yellow);
}

.hero-form {
  border: 3px solid var(--color-dark-blue);
  background-color:var(--color-yellow);
  padding: 20px;
  color: var(--color-dark-blue);
  bottom: 120px;
  width: 40%;
  margin: 3.5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.hero-form h3 {
  font-size: 24px;
  margin: 0;
}

.hero-form p {
  margin: 5px 0 15px 0;
}

.hero-form label {
  margin: 0 5px;
}

.form-input {
  border: 1px solid var(--color-dark-blue);
  background-color: rgba(255,255,255, 0.75);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--color-dark-blue);
  width: 100%;
  margin-bottom: 15px;
}
.checkbox-wrapper input, .radio-wrapper input {
  opacity: 0;
}

.checkbox-wrapper label, .radio-wrapper label {
  position: relative;
  left: 10px;
  margin: 10px;
  line-height: 1.6;
}

.checkbox-wrapper label::before, .radio-wrapper label::before {
  content: "";
  height: 20px;
  width: 20px;
  background: rgba(255, 255, 255, 0.75);  
  border: 1px solid var(--color-dark-blue);  
  position: absolute;
  top: -4px;
  left: -30px;
}

.radio-wrapper label::before {
  border-radius: 50%;
}

.radio-wrapper label::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--color-dark-blue);
  position: absolute;
  left: -29px;
  top: -3px;
}



.checkbox-wrapper label::after {
  content: "";
  height: 6px;
  width: 14px;
  border-left: 2px solid var(--color-dark-blue);
  border-bottom: 2px solid var(--color-dark-blue);
  position: absolute;
  left: -26px;
  top: 1px;
  transform: rotate(-58deg);
}

.checkbox-wrapper input:checked + label,
.radio-wrapper input:checked + label {
  font-weight: bold;
}

.checkbox-wrapper input + label::after, 
.radio-wrapper input + label::after {
  content: none;
}

.checkbox-wrapper input:checked + label::after, 
.radio-wrapper input:checked + label::after {
  content: "";
}

.form-input:focus {
  background-color: rgba(255,255,255, 1); /* the focus here is to change the background colore everytime we click on the input*/
  font-size: 25px;
}

.hero-form button {
  color:var(--color-yellow);
  background-color: var(--color-dark-blue);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 15px;
}


.hero-form button:hover{
  background-color: var(--color-blue);  
}

/* section hero ends */


/* section what we do starts */
section {
  padding: 60px;
}

.section-title.primary-border{
  border-color: var(--color-yellow);
}

.intro p {
  line-height: 1.7;
  color: var(--color-blue);
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
  text-align: center
}
/* section what we do ends */



/* section what you do starts */
.steps {
  background: var(--color-yellow);
}

.flex-row {
  display: flex;
}

.section-title.secondary-border {
  border-color: var(--color-blue);
}

.section-title {
  font-size: 48px;
  color: var(--color-dark-blue);
  border-bottom: 3px solid;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.step {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-blue);
}

.step:last-child { /* in this case we will take off the border bottom on the last child of the .step class*/
  border-bottom: none;
}

.step h3 {
  color: var(--color-dark-blue);
  font-size: 46px;
  flex: 1 30%;
}

.step-info{
  flex:1 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.step-img {
  flex:1 12%; /* at the very least must be 12 percent of the width of .step-info. */
  margin-right: 20px;
}

.step-img img {
  max-width: 100%;
}

.step-text {
  flex:12; /* This means that .step-text will be allotted 12 times more unused space than .step-img */
}

.step-text h4 {
  font-size: 26px;
  line-height: 1.5;
  color: var(--color-dark-blue);
}

.step-text p{
  font-size: 18px;
}

/* section what you do Ends */



/* Meet trainer section starts */

.trainers{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.trainer {
  margin: 20px;
  background: var(--color-dark-blue);
  color: var(--color-yellow);
  flex: 1;
}

.trainer img {
  width: 100%;
}

.text-left {
  text-align: left;
}

.flex-row {
  display: flex;
}

.trainer-bio {
  padding: 25px;
  line-height: 1.3;
}

.trainer-bio p {
  font-size: 17px;
}

.trainer-bio h3 {
  font-size: 28px;
}

.trainer-bio h4 {
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: 15px;
}
/* section Meet trainer Ends */



/* section Reach Out starts */
.contact{
  background-color: var(--color-dark-blue);
}

.contact h2 {
  color: var(--color-yellow);
}

.contact-info{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.contact-info > * {
  flex: 1;
  margin: 15px;
}

.contact-info h3{
  color: var(--color-yellow);
  font-weight: bolder;
  font-size: 32px;
  margin-bottom: 15px;
}

.contact-info iframe {
  margin-left: 50px;
}

.contact-info p, .contact-info address{
  margin: 20px 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal; /* that will take away the provided style to the page and change it to the default style  */
}

.contact-form input, .contact-form textarea{
  border: 1px solid var(--color-dark-blue);
  background-color: rgb(226, 221, 221);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--color-dark-blue);
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 15px;
}



.contact-form input:focus,.contact-form textarea:focus{
  background-color: rgb(104, 100, 100);
}

.contact-form input:focus::placeholder, .contact-form textarea:focus::placeholder{ /* this will make the placeholder text to show white everytime we try to write*/
  color: white;
}

.contact-form button{
  width: 100%;
  border: none;
  background-color:var(--color-yellow);
  color: var(--color-dark-blue);
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 15px;
}

.contact-form button:hover{
  color: var(--color-yellow);
  background: var(--color-blue);
}

.contact-form button:active{ /* the active in this case will always change the background color to red when we click */
  background: red; 
}

.contact-info a{
  color: var(--color-yellow);
}

.contact-info div {
  color: white;
}
/* section Reach Out Ends */




/* footer starts */
footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--color-yellow);
  width: 100%;
  padding: 40px 35px ;
}

footer h2{
  color: var(--color-dark-blue);
  font-size: 30px;
  margin: 0;
}

footer div{
  line-height: 1.5;
  text-align: right;
}

footer a{
  color: var(--color-dark-blue);
}






/* media query starts */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media (max-width: 980px) {
  header{
    padding-bottom: 0;
    justify-content: center;
    position: relative; /*this to take off the stiky position on the header cuase its taking too much space*/
  }

  header h1{
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content:center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }

  .hero-form, .hero-cta{
    width: 100%;
  }

  .hero-cta{
    text-align: center;
  }

  .section-title{
    width: 80%;
  }

  .trainers{
    width: 0 70%;
  }
  
  .contact-info iframe{
    flex: 1 100%;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }

  .step h3 {
    flex: 1 100%;
    text-align: center;
  }

  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .step-text {
    flex:100%;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  header nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    justify-content:center;
  }

  header nav ul li {
    margin-top: 10px;
  }

  .hero-form button {
    width: 100%;
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .trainer {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }

  .contact-info iframe{
    display: flex;
    justify-content: center;
    align-self: center;
    margin:15px 25px;
  }

  .contact-form {
    order: 3;
  }
}

